.card
{
    box-shadow: 1px 1px 70px 6px rgba(255,255,255,0.48);
    background: rgb(0,0,0);
    background: linear-gradient(115deg, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 85%, rgba(98,98,98,1) 100%);
    height: auto;
    margin: 40px 20%;
    max-width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: box-shadow 0.5s;

    .card-title
    {
        color: white;
        padding-top: 30px;
    }
    .card-description
    {
        color: white;
        width: 100%;
        max-width: 600px;
        height: auto;
        padding: 20px;
        font-size: 1.5em;
        text-align: center;
    }
    .card-images
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 30px;

        .card-img
        {
            border-radius: 20px;
            width: 500px;
            height: 400px;
            background-image: url("../../../assets/images/pigus_alus.png");
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: space-between;
            align-items: end;
            color: white;
            padding: 0px 20px;

        }
        .card-img:hover
        {
            border: solid white 2px;
        }

        
    }
    
}

.card:hover
{
    box-shadow: 1px 1px 70px 15px rgba(255,255,255, 1);
}

.c-info
{
    color: white;
    width: 100%;
    max-width: 600px;
    height: auto;
    font-size: 1.5em;
    margin-left: 70px;
}